.about {
  max-width: 100%;
  padding-top: 105px;

  @media (min-width: $desktop-breakpoint) and (max-width: 1423px) {
    padding-left: 0;
  }

  @media (max-width: $tablet-breakpoint) {
    padding-left: 0;
    padding-top: 55px;
  }

  @media (max-width: $mobile-breakpoint) {
    padding-left: 0;
    padding-top: 66px;
  }
}

.about__wrapper {
  position: relative;
  width: 1170px;
  margin: 0 auto;
  padding-left: 188px;

  @media (min-width: $desktop-breakpoint) and (max-width: 1423px) {
    width: 900px;
    padding-left: 185px;
  }

  @media (max-width: $tablet-breakpoint) {
    width: 740px;
    padding-left: 197px;
  }

  @media (max-width: $mobile-breakpoint) {
    width: 100%;
    min-width: 299px;
    padding-left: 16px;
    padding-right: 16px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 220px;
    height: 317px;
    top: 5px;
    left: -22px;
    background-image: url("../img/2005.png");
    background-repeat: no-repeat;

    @media (min-width: $desktop-breakpoint) and (max-width: 1423px) {
      top: 0;
      left: -18px;
    }

    @media (max-width: $tablet-breakpoint) {
      background-image: url("../img/2005-tablet.png");
      width: 250px;
      height: 360px;
      top: -2px;
      left: -13px;
    }

    @media (max-width: $mobile-breakpoint) {
      display: none;
    }
  }
}

.about__wrapper h2 {
  font-family: $main-header-font;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: #666666;
  margin: 0;
  padding-bottom: 21px;

  @media (max-width: $tablet-breakpoint) {
    font-size: 32px;
    line-height: 140.62%;
    padding-bottom: 26px;
  }

  @media (max-width: $mobile-breakpoint) {
    font-size: 28px;
    padding-bottom: 24px;
  }
}

.about__text-wrapper {
  width: 985px;

  @media (min-width: $desktop-breakpoint) and (max-width: 1423px) {
    width: 700px;
  }

  @media (max-width: $tablet-breakpoint) {
    width: 530px;
    position: relative;
  }

  @media (max-width: $mobile-breakpoint) {
    width: 100%;
    padding-bottom: 5px;

    &::before {
      bottom: 44px;
      right: 143px;
    }

    &::after {
      bottom: 44px;
      right: 152px;
    }
  }
}

.about__text-wrapper p {
  font-family: $main-text-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #666666;
  margin: 0;
  padding-bottom: 20px;

  @media (max-width: $tablet-breakpoint) {
    overflow: hidden;
    height: 92px;
    margin-bottom: 16px;
    /* stylelint-disable */
    display: -webkit-box;
    /* stylelint-enable */
    -webkit-line-clamp: 4;
    /* stylelint-disable */
    -webkit-box-orient: vertical;
  }

  @media (max-width: $mobile-breakpoint) {
    margin-bottom: 17px;
    overflow: hidden;
    height: 177px;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;

    &:first-child {
      height: auto;
    }
  }
}

.about__button {
  display: block;
  font-family: $main-header-font;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #00b2ff;
  width: 180px;
  padding-top: 14px;
  padding-bottom: 12px;
  margin-top: 20px;
  background: transparent;
  border: 1px solid #00b2ff;
  border-radius: 4px;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 1;
  }

  @media (max-width: $tablet-breakpoint) {
    margin-top: 37px;
  }

  @media (max-width: $mobile-breakpoint) {
    margin-top: 7px;
  }
}
