.main-footer {
  display: flex;
  margin-left: 250px;
  margin-bottom: 58px;

  @media (min-width: $desktop-breakpoint) and (max-width: 1423px) {
    display: grid;
    grid-template-columns: 30% 70%;
    width: 1004px;
    margin: 0 auto;
    margin-bottom: 58px;
    padding-left: 20px;
  }

  @media (max-width: $tablet-breakpoint) {
    flex-wrap: wrap;
    margin-left: 0;
    margin-bottom: 36px;
  }

  @media (max-width: $mobile-breakpoint) {
    margin-bottom: 7px;
  }
}

.main-footer__menu {
  display: grid;
  grid-template-columns: 50% 35%;
  grid-gap: 20px;
  width: 100%;

  @media (max-width: $tablet-breakpoint) {
    grid-template-columns: 48% 50%;
    grid-gap: 0;
    margin-top: 11px;
    padding-left: 24px;
  }

  @media (max-width: $mobile-breakpoint) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    margin-top: 0;
    border-top: 1px solid #dcdddc;
  }
}

.main-footer__social {
  width: 220px;
  margin-right: 210px;
  padding-top: 26px;

  @media (min-width: $desktop-breakpoint) and (max-width: 1423px) {
    margin-right: 50px;
  }

  @media (max-width: $tablet-breakpoint) {
    width: 100%;
    margin-right: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dcdddc;
    padding-left: 24px;
    padding-top: 0;
  }

  @media (max-width: $mobile-breakpoint) {
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    border-bottom: none;
    margin-left: -15px;
  }
}

.main-footer__social-items {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  min-width: 150px;

  @media (max-width: $tablet-breakpoint) {
    margin-top: 11px;
    min-width: 134px;
  }

  @media (max-width: $mobile-breakpoint) {
    min-width: 114px;
    margin-top: 57px;
    padding-bottom: 51px;
  }
}

.main-footer__social-items li {
  margin-right: 16px;

  &:last-child {
    margin-right: 0;
  }
}

.main-footer__social-logo {
  margin-bottom: 50px;

  @media (max-width: $tablet-breakpoint) {
    margin-bottom: 20px;
  }
}

.main-footer__sections h3,
.main-footer__contacts h3 {
  font-family: $main-header-font;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $footer-items-color;
  margin: 0;
  padding-bottom: 25px;
  padding-top: 26px;
}

.main-footer__sections {
  @media (max-width: $mobile-breakpoint) {
    width: 100%;
    border-bottom: 1px solid #dcdddc;
    padding-left: 15px;
  }
}

.main-footer__sections-wrapper {
  margin-right: 0;

  @media (min-width: $desktop-breakpoint) and (max-width: 1423px) {
    margin-right: 50px;
  }
}

.main-footer__sections-wrapper ul {
  list-style: none;
}

.main-footer__sections-items {
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: 50% 40%;

  @media (min-width: $desktop-breakpoint) and (max-width: 1423px) {
    width: 400px;
  }

  @media (max-width: $tablet-breakpoint) {
    grid-template-columns: 100%;
  }

  @media (max-width: $mobile-breakpoint) {
    margin-bottom: 30px;
  }
}

.main-footer__sections-items-left {
  padding: 0;
  margin-right: 20px;

  @media (min-width: $desktop-breakpoint) and (max-width: 1423px) {
    margin-right: 20px;
  }

  @media (max-width: $tablet-breakpoint) {
    margin-right: 0;
  }
}

.main-footer__sections-items-right {
  padding: 0;
}

.main-footer__sections-items a,
.main-footer__contacts-items a {
  display: inline-block;
  vertical-align: baseline;
  font-family: $main-text-font;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: $footer-items-color;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.5;
  }
}

.main-footer__contacts {
  margin-left: 20px;

  @media (max-width: $mobile-breakpoint) {
    margin-left: 0;
    padding-left: 15px;
    width: 100%;
  }
}

.main-footer__contacts-items {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-breakpoint) and (max-width: 1423px) {
    width: 250px;
  }

  @media (max-width: $mobile-breakpoint) {
    padding-bottom: 19px;
    padding-top: 12px;

    &:first-child {
      width: 270px;
    }
  }
}
