.page-header {
  position: relative;
  z-index: 1;
}

.page-header__wrapper {
  position: absolute;
  max-width: 1410px;
  width: 100%;
  top: 33px;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: $desktop-breakpoint) and (max-width: 1423px) {
    width: 1004px;
  }

  @media (max-width: $tablet-breakpoint) {
    width: 738px;
    margin: 0 auto;
    top: 19px;
  }

  @media (max-width: $mobile-breakpoint) {
    width: 100%;
    margin: 0;
    top: 17px;
  }
}
