.page-header {
  position: relative;
  z-index: 1;
}

.page-header__wrapper {
  position: absolute;
  top: 33px;
  width: 100%;

  @media (max-width: $tablet-breakpoint) {
    top: 19px;
  }

  @media (max-width: $mobile-breakpoint) {
    top: 17px;
  }
}
