.page-footer {
  padding-top: 65px;
  padding-bottom: 16px;
  position: relative;
  background-color: #fafafa;

  @media (max-width: $tablet-breakpoint) {
    padding-top: 19px;
  }

  @media (max-width: $mobile-breakpoint) {
    padding-top: 46px;
  }
}
