.promo {
  background-color: #1b2d37;
  background-image: url("../img/promo-back-desk.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 100%;
  min-height: 878px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/promo-back-desk@2x.jpg");
    background-size: 1920px;
  }

  @media (max-width: $tablet-breakpoint) {
    background-image: url("../img/promo-back-tablet.jpg");
    min-height: 686px;
    background-size: 101% 687px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/promo-back-tablet@2x.jpg");
      background-size: 101% 687px;
    }
  }

  @media (max-width: $mobile-breakpoint) {
    background-image: url("../img/promo-back-mobile.jpg");
    min-height: 647px;
    background-size: 100% 650px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/promo-back-mobile@2x.jpg");
      background-size: 100% 650px;
    }
  }
}

.promo__wrapper {
  position: relative;
  padding-top: 315px;
  margin-left: 13%;

  @media (min-width: $desktop-breakpoint) and (max-width: 1423px) {
    width: 1004px;
    margin: 0 auto;
    padding-left: 20px;
  }

  @media (max-width: $tablet-breakpoint) {
    padding-top: 188px;
    margin-left: 11.5%;
  }

  @media (max-width: $mobile-breakpoint) {
    padding-top: 286px;
    margin-left: 5%;
  }
}

.promo h1 {
  font-family: $main-header-font;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: $white-text-color;
  margin: 0;
  padding-bottom: 28px;

  @media (max-width: $tablet-breakpoint) {
    font-size: 60px;
    line-height: 70px;
    width: 400px;
  }

  @media (max-width: $mobile-breakpoint) {
    font-size: 40px;
    line-height: 47px;
    width: 100%;
    max-width: 300px;
  }
}

.promo p {
  position: relative;
  font-family: $main-text-font;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
  color: $white-text-color;
  margin: 0;
  padding-left: 99px;
  padding-bottom: 44px;
  width: 730px;

  &::before {
    position: absolute;
    content: "";
    top: 16px;
    left: 7px;
    width: 66px;
    height: 2px;
    background: #ffffff;
  }

  @media (max-width: $tablet-breakpoint) {
    font-size: 18px;
    line-height: 156.8%;
    padding-left: 51px;
    padding-bottom: 56px;
    width: 400px;

    &::before {
      width: 33px;
      left: 3px;
    }
  }

  @media (max-width: $mobile-breakpoint) {
    font-size: 16px;
    line-height: 156.8%;
    width: 100%;
    max-width: 300px;
    padding-bottom: 42px;

    &::before {
      left: 2px;
      top: 14px;
    }
  }
}

.promo__button {
  display: block;
  font-family: $main-header-font;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $white-text-color;
  background-color: #00b2ff;
  border-radius: 5px;
  width: 407px;
  padding-top: 17px;
  padding-bottom: 18px;
  margin-left: 100px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 1;
  }

  @media (max-width: $tablet-breakpoint) {
    margin-left: 51px;
    width: 379px;
  }

  @media (max-width: $mobile-breakpoint) {
    margin-left: 0;
    width: 100%;
    max-width: 287px;
    font-size: 16px;
    line-height: 19px;
  }
}

.promo__button-desk {
  @media (max-width: $mobile-breakpoint) {
    display: none;
  }
}

.promo__button-mobile {
  display: none;

  @media (max-width: $mobile-breakpoint) {
    display: inline;
  }
}

.promo__down {
  position: absolute;
  bottom: -147px;
  left: -32px;
  font-family: $main-text-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $white-text-color;
  opacity: 0.5;
  transform: rotate(-90deg);
  display: inline-block;
  vertical-align: baseline;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.5;
  }

  @media (max-width: $tablet-breakpoint) {
    display: none;
  }
}
