$main-header-font: 'Roboto Condensed', 'Arial', sans-serif;
$main-text-font: 'PT Mono', 'Courier New', monospace;
$white-text-color: #ffffff;
$footer-items-color: #1b2d37;

$mobile-breakpoint: 767px;
$tablet-breakpoint: 1023px;
$desktop-breakpoint: 1024px;
